.bootchat{
  position: fixed;
  width: 80%;
  bottom: 3%;
  z-index: 1000;
  height: 300px;
  background:#151d4d;
  box-shadow: 1px 1px 5px rgba(5, 5, 5, 0.1), -1px -1px 5px rgba(5, 5, 5, 0.1);
  left: -100%;
  transition: all 0.5s ease;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 20px;
  overflow: hidden;
}
.bootchat-show {
  left: 50%;
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
}
form {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
form #text {
  flex-grow: 0.7;
  border: 0;
  outline: 0;
  padding: 10px 20px;
  background-color: #fff;
  color: var(--dark_Color);
  font-size: 1.2rem;
  font-weight: 700;
  color: #151d4d;
}
form #text::-webkit-input-placeholder {
  color: #1111119c;
  font-weight: 500;
}
form #sub {
  flex-grow: 0.3;
  border: 0;
  outline: 0;
  padding: 10px 20px;
  background: #131c50;

  color: var(--white_Color);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
}
.massgae
{
  height: 100%;
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  grid-gap: 10px;
  padding-bottom: 50px;
}
.massgae::-webkit-scrollbar
{
  width: 10px;
  background-color: #ffffff;
}
.massgae::-webkit-scrollbar-thumb
{
  background-color: #151d4d;
}
.massgae p {
  display: inline-block;
  width: 80%;
  padding: 10px;
  background-color: #f0eaea;
  color: #151d4d;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  border-radius: 10px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 27px;
}
.massgae p::after
{
  content: '';
  position: absolute;
  border: 16px solid;
  border-color: transparent #f0eaea transparent transparent;
  right: 99%;
  top: 50%;
  transform: translateY(-50%);
}
.massgae p:nth-child(odd) {
  background-color: #fff;
  align-self: flex-end;
}
.massgae p:nth-child(odd)::after
{
  left: 99%;
  border-color: transparent transparent transparent #fff;

}
.icons-roobot {
  position: fixed;
  bottom: 55%;
  left: 1%;
  z-index: 1000;
  width: 30px;
  height: 30px;
  border-radius: 30%;
  background-color: #151d4d;
  text-align: center;
  cursor: pointer;
  line-height: 50px;
  z-index: 10;
  -webkit-border-radius: 30%;
  -moz-border-radius: 30%;
  -ms-border-radius: 30%;
  -o-border-radius: 30%;
}
.icons-roobot i {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--white_Color);
  transform: translate(-50%, -50%);
}
.icons-roobot .narot {
  display: none;
}
.rocket-up {
  position: fixed;
  z-index: 1000;
  bottom: 3%;
  right: 3%;
  cursor: pointer;
  animation: moverocket 1.8s infinite ease-in-out;
}
.massgae span
{
  display:none;
}
.massgae p i
{
  color: goldenrod;
}
.datas_container
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  grid-gap: 20px;
}
.massgae input,button
{
  width: 50%;
  padding: 10px 20px;
  border: 0;
  outline: 0;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 5px;
  color: #151d4d;
}
.massgae input::placeholder
{
  color: #151d4d8a;
}
button
{
  background-color: #fff;
  color: #151d4d;
}
button:hover
{
  background-color: rgb(209, 202, 202);
}
.animated_mess
{
    width: 100px;
    height: 40px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
}
.animated_mess::after
{
    content: '';
    position: absolute;
    left: 99%;
    top: 50%;
    transform: translateY(-50%);
    border: 10px solid;
    border-color: transparent transparent transparent #fff;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.animated_parent
{
    bottom: 25%;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
}
.animated_mess span
{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #151d4d;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: animated 1s ease infinite;
    -webkit-animation: animated 1s ease infinite;
}
.animated_mess span:nth-child(1)
{
    animation-delay: .1s;
}
.animated_mess span:nth-child(2)
{
    animation-delay: .2s;
}
.animated_mess span:nth-child(3)
{
    animation-delay: .3s;
}
@keyframes animated 
{
    0%
    {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
}
    50%
    {
        transform: translateY(-6px);
        -webkit-transform: translateY(-6px);
        -moz-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
        -o-transform: translateY(-6px);
}
    100%
    {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
}
@keyframes moverocket {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (min-width:200px) and (max-width:667px)
{
  .bootchat{
    width: 100%;
    bottom: 0%;
    height: 100%;
    border-radius: 0px;
    z-index: 100000;
  }
  .massgae p::after
  {
    border: 13px solid;
    border-color: transparent #f0eaea transparent transparent;
  }
  .massgae span
  {
    display: block;
    font-size: 1.5rem;
    color: var(--white_Color);
    padding-bottom: 10px;
    font-weight: bold;
  }
  .animated_parent
  {
    bottom: 10%;
  }
  .massgae input,button
  {
    width: 90%;
  }
}